@import url('https://fonts.googleapis.com/css?family=Lato');
body {
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  font-weight: 700;
  padding: 20px;
  background-color: #eee;
}

:focus {
  outline: none;
}

.calculator {
  width: 100%;
  max-width : 440px;
  box-sizing: border-box;
  padding: 30px;
  background-color: #1795d4;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0 5px 30px 0 rgba(0,0,0,0.2);
}

.display {
  height: 80px;
  border: none;
  background-color: #373d45;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
  border-radius: 5px;
  line-height: 2.5em;
  overflow: hidden;
}

.display .screen {
  color: #fff;
  display: block;
  height: 100%;
  text-align: right;
  width: 100%;
  background-color: #373d45;
  border: none;
  font-size: 1.5em;
  font-weight: 700;
}

.logo {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 20px;
}

.solar {
  background-color: #545252;
  height: 43px;
  width: 50%;
  max-width: 180px;
  vertical-align: top;
  margin-top: -4px;
  border-radius: 2px;
  float: right;
}

.buttons {
  padding: 20px 0 0;
}

.buttons ul, .buttons li {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.buttons ul.digits {
  display: inline-block;
  width: 75%;
}

.buttons ul.symbols {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}

.buttons li {
  background-color: #F5F5F5;
  border-radius: 10px;
  width: 85px;
  text-align: center;
  display: inline-block;
  margin-right: 13px;
  margin-bottom: 15px;
  background: #FFF;
  color: #373d45;
}

.buttons li.symbol {
  margin: 0 0 15px 9px;
  background-color: #fed800;
}

.buttons li:nth-child(3n){
  margin-right: 0;
}

.buttons li button {
  width: 100%;
  height: 100%;
  display: block;
  background: none;
  border: none;
  font-size: 1em;
  font-weight: 700;
  padding: 20px 0;
}

.equals {
  width: 100%;
  height: 70px;
  background-color: #196b98;
  color: #FFF;
  text-align: center;
  border-radius: 5px;
}

.equals div {
  display: inline-block;
  font-size: 1.5em;
  margin-top: 11px;
}

.button{
  box-shadow: 3px 3px 0px rgba(0,0,0,0.4);
}

.button:active {
  box-shadow: none;
  position: relative;
  top: 1px;
  left: 1px;
}